@{
    ViewBag.Title = "Recently Played Songs";
    var songs = Model as List<dynamic>;
}

<h2>Recently Played Songs</h2>

@if (songs != null && songs.Count > 0)
{
    <ul>
        @foreach (var song in songs)
        {
            <li>
                <strong>@song.Name</strong> - @song.Artist
            </li>
        }
    </ul>
}
else
{
    <p>No recently played songs found.</p>
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
