@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<dynamic>

<h2>Son Çalınan Şarkılar</h2>
<ul>
    @foreach (var song in Model)
    {
        <li>
            <strong>@song.Name</strong> - @song.Artist
        </li>
    }
</ul>
